* {
  box-sizing: border-box;
}

body {
  background-color: #666666;
}

.board {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  row-gap: 30px;
}

.post-it {
  width: 280px;
  height: 200px;
  font-family: "Indie Flower", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 4px 15px -3px #000000;
  transition: transform 0.8s, box-shadow 0.8s;
}

@keyframes shadow {
  from {
    box-shadow: 3px 4px 15px -3px #000000;
  }
  to {
    box-shadow: 3px 4px 25px 3px #000000;
  }
}

.post-it:hover {
  transform: rotate(0);
  transform: scale(1.2);
  z-index: 1;
  /*animation: shadow 0.8s forwards;*/
  box-shadow: 3px 4px 25px 3px #000000;
}

.post-it h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.post-it p {
  font-size: 1.8rem;
}

.first,
.fifth,
.seventh {
  background-image: linear-gradient(#fcfcca, #bebea4);
}

.second,
.fourth,
.eighth {
  background-image: linear-gradient(#cafccb, #9eb6a0);
}

.third,
.sixth {
  background-image: linear-gradient(#c8c9f9, #8a8c9b);
}

.first {
  transform: rotate(-5deg);
}

.second {
  transform: rotate(4deg);
}

.third {
  transform: rotate(-4deg);
}

.fourth {
  transform: rotate(8deg);
}

.fifth {
  transform: rotate(-3deg);
}

.sixth {
  transform: rotate(-4deg);
}

.seventh {
  transform: rotate(-3deg);
}

.eighth {
  transform: rotate(4deg);
}
